body {
    background-image: url(./Assets/Volcanic-Lightning.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    color: blue;
    background: olivedrab;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    font-size: 30px;
}

p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}