body {
    background-image: url(./Assets/Volcanic-Lightning.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header {
    color: blue;
    background: olivedrab;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    font-size: 30px;
}

p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.CitySearch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: green;
    height: 80px;
    width: 300px;
}

h1 {
    display: flex;
    /* font-size: 25px; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: center;

}

.searchBar {
    width: 140px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.searchBar1 {
    width: 148px;
    margin: 5px;
}